/*Painel de alteração professores */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.p-active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 10px;
}
.p-active > h1 {
    margin: 20px;
}
.p-table{
    width: 800px;
}

.active{
    color: MediumSeaGreen;
}
.disabled{
    color: tomato;
}

#myInput {
  background-image: url('http://localhost/ProjetoFinal/public/assets/search.png');
  background-position: 10px 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 740px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

/* Fim painel de professores */ 